/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* generic */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5dc;
  font-family: "Roboto", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

input,
button,
textarea {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

.special {
  font-family: "Playfair Display", serif;
}

.list-item-active {
  border-bottom: 2px solid black;
}

.content-home {
  flex: 1 1 auto;
  padding: 90px 0;
}

.content-home section {
  width: 1400px;
  margin: 0 auto;
}

.content-home h1 {
  font-size: 34px;
}

.content-home section h1 + p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.content-home h2 {
  font-size: 26px;
}

.content-home h3 {
  font-size: 21px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 70px;
}

header ul {
  display: flex;
  gap: 0 40px;
}

header ul li:hover {
  border-bottom: 2px solid black;
}

footer {
  flex-basis: 302px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 20px;
  background-color: #1a1a1a;
  color: white;
}

.container {
  display: flex;
  gap: 0 150px;
  margin-bottom: 30px;
}

.container h4 {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.container nav {
  display: flex;
  flex-direction: column;
  gap: 12px 0;
}

.container nav a:hover {
  text-decoration: underline;
}

.container .social-media {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}

.container .social-media .links {
  display: flex;
  gap: 0 15px;
}

.container .social-media i {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.container .social-media i:hover {
  color: #daa520;
}

.container .contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}

.container .contact-info i {
  margin-right: 8px;
}

.container .contact-info a:hover {
  text-decoration: underline;
}

.copyright {
  text-align: center;
}
