@import "./base.css";

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.contact-reservation-container {
  display: flex;
  gap: 0 30px;
}

.contact-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  padding: 20px;
  border: 1px solid #595858;
  border-radius: 12px;
}

.contact-info-container h2 {
  margin-bottom: 5px;
}

.contact-info-container .contact-info-item {
  display: flex;
  gap: 0 15px;
}

.contact-info-container i {
  font-size: 22px;
}

.contact-info-container .hours {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.form-container {
  flex: 1;
  padding: 20px;
  border: 1px solid #595858;
  border-radius: 12px;
}

.form-container h2 {
  margin-bottom: 25px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container form .inputs-container {
  display: flex;
  gap: 0 20px;
}

.form-container form .input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container form .input-container input {
  margin-top: 8px;
  padding: 7px 12px;
  font-size: 15px;
  background: none;
  border: 1px solid #595858;
  border-radius: 8px;
}

.form-container form .textarea-container {
  display: flex;
  flex-direction: column;
}

.form-container form .textarea-container textarea {
  margin-top: 8px;
  min-height: 120px;
  padding: 12px;
  font-size: 15px;
  background: none;
  border: 1px solid #595858;
  border-radius: 8px;
}

.form-container form button {
  background-color: #1a1a1a;
  color: white;
  padding: 15px 0;
  border: none;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.form-container form button:hover {
  background-color: #4c4b4b;
}
